{% extends "base.html" %}
{% load static %}
{% load cart_tools %}
{% load crispy_forms_tags %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Order Summary</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="text-muted">Order Summary ({{ product_count }})</p>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small text-muted">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>
            {% if free_delivery_qualified %}
                <p>Congratulations! You qualify for free delivery.</p>
            {% else %}
                <p>Add more items to your cart to qualify for free delivery.</p>
            {% endif %}

            {% for item in cart_items %}
            <div class="row">
                <div class="col-2 mb-1">
                    {% include 'cart/product-image.html' with product=item.product %}
                </div>
                <div class="col-7">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}{{ item.size }}{% endif %}</p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
            </div>

            <!-- Added Details -->
            <div class="row">
                <div class="col-2"></div>
                <div class="col-7">
                    <p class="cart-card-text"><strong>Services:</strong> €{{ item.service_price|floatformat:2 }}</p>
                    <p class="cart-card-text"><strong>Total:</strong> €{{ item.total_price|floatformat:2 }}</p>
                </div>
            </div>
            {% endfor %}

            <hr class="my-0">
            <div class="row text-black text-right">
                <div class="col-7 offset-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0">VAT (19%):</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-0" id="order-total">€{{ total|floatformat:2 }}</p>
                    <p class="my-0" id="delivery-amount">€0.00</p>
                    <p class="my-0" id="vat-amount">€0.00</p>
                    <p class="my-0"><strong id="grand-total">€{{ grand_total|floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout:order_checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}

                <!-- Hidden fields for user data -->
                <input type="hidden" id="hidden_name" value="{{ user_details.name }}">
                <input type="hidden" id="hidden_email" value="{{ user_details.email }}">
                <input type="hidden" id="hidden_phone_number" value="{{ user_details.phone_number }}">
                <input type="hidden" id="hidden_country" value="{{ user_details.country }}">
                <input type="hidden" id="hidden_postcode" value="{{ user_details.postcode }}">
                <input type="hidden" id="hidden_town_or_city" value="{{ user_details.town_or_city }}">
                <input type="hidden" id="hidden_street_address1" value="{{ user_details.street_address1 }}">
                <input type="hidden" id="hidden_street_address2" value="{{ user_details.street_address2 }}">
                <!-- Delivery fields -->
                <input type="hidden" id="hidden_delivery_country" value="{{ user_details.delivery_country }}">
                <input type="hidden" id="hidden_delivery_postcode" value="{{ user_details.delivery_postcode }}">
                <input type="hidden" id="hidden_delivery_town_or_city" value="{{ user_details.delivery_town_or_city }}">
                <input type="hidden" id="hidden_delivery_street_address1" value="{{ user_details.delivery_street_address1 }}">
                <input type="hidden" id="hidden_delivery_street_address2" value="{{ user_details.delivery_street_address2 }}">

                <!-- Personal Information Section -->
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>

                    <!-- Full Name -->
                    <div class="form-group required" id="id_full_name">
                        <label for="{{ order_form.name.id_for_label }}">
                            Full Name
                            {% if order_form.name.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                        </label>
                        <input type="text" id="id_name"
                            name="{{ order_form.name.name }}" value="{{ order_form.name.value|default:'' }}"
                            class="form-control" placeholder="Full Name">
                        {% if order_form.name.errors %}
                            <ul class="errorlist text-danger">
                                {% for error in order_form.name.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Email Address -->
                    <div class="form-group required" id="id_email">
                        <label for="{{ order_form.email.id_for_label }}">
                            Email Address
                            {% if order_form.email.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                        </label>
                        <input type="email" id="email"
                            name="{{ order_form.email.name }}" value="{{ order_form.email.value|default:'' }}"
                            class="form-control" placeholder="Email Address">
                        {% if order_form.email.errors %}
                            <ul class="errorlist text-danger">
                                {% for error in order_form.email.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Delivery Information Section -->
                    <legend class="fieldset-label small text-black px-2 w-auto">Delivery Address Details</legend>

                    <!-- Phone Number -->
                    <div class="form-group required">
                        <label for="{{ order_form.phone_number.id_for_label }}">
                            Phone Number
                            {% if order_form.phone_number.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                        </label>
                        <input type="text" id="phone_number"
                            name="{{ order_form.phone_number.name }}" value="{{ order_form.phone_number.value|default:'' }}"
                            class="form-control" placeholder="Phone Number">
                        {% if order_form.phone_number.errors %}
                            <ul class="errorlist text-danger">
                                {% for error in order_form.phone_number.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Street Address 1 -->
                    <div class="form-group required">
                        <label for="{{ order_form.address_line_1.id_for_label }}">
                            Street Address 1
                            {% if order_form.address_line_1.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                        </label>
                        <input type="text" id="address_line_1"
                            name="{{ order_form.address_line_1.name }}" value="{{ order_form.address_line_1.value|default:'' }}"
                            class="form-control" placeholder="Street Address 1">
                        {% if order_form.address_line_1.errors %}
                            <ul class="errorlist text-danger">
                                {% for error in order_form.address_line_1.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Street Address 2 -->
                    <div class="form-group">
                        <label for="{{ order_form.address_line_2.id_for_label }}">
                            Street Address 2
                        </label>
                        <input type="text" id="address_line_2"
                            name="{{ order_form.address_line_2.name }}" value="{{ order_form.address_line_2.value|default:'' }}"
                            class="form-control" placeholder="Street Address 2">
                        {% if order_form.address_line_2.errors %}
                            <ul class="errorlist text-danger">
                                {% for error in order_form.address_line_2.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Town or City -->
                    <div class="form-group required">
                        <label for="{{ order_form.town_or_city.id_for_label }}">
                            Town or City
                            {% if order_form.town_or_city.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                        </label>
                        <input type="text" id="town_or_city"
                            name="{{ order_form.town_or_city.name }}" value="{{ order_form.town_or_city.value|default:'' }}"
                            class="form-control" placeholder="Town or City">
                        {% if order_form.town_or_city.errors %}
                            <ul class="errorlist text-danger">
                                {% for error in order_form.town_or_city.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Postcode -->
                    <div class="form-group required">
                        <label for="{{ order_form.postcode.id_for_label }}">
                            Postcode
                            {% if order_form.postcode.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                        </label>
                        <input type="text" id="postcode"
                            name="{{ order_form.postcode.name }}" value="{{ order_form.postcode.value|default:'' }}"
                            class="form-control" placeholder="Postcode">
                        {% if order_form.postcode.errors %}
                            <ul class="errorlist text-danger">
                                {% for error in order_form.postcode.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Country -->
                    <div class="form-group required">
                        <label for="{{ order_form.country.id_for_label }}">
                            Country
                            {% if order_form.country.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                        </label>
                        <input type="text" id="country"
                            name="{{ order_form.country.name }}" value="{{ order_form.country.value|default:'' }}"
                            class="form-control" placeholder="Country">
                        {% if order_form.country.errors %}
                            <ul class="errorlist text-danger">
                                {% for error in order_form.country.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Use different delivery address checkbox -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="different-address-checkbox" name="use_different_delivery_address"
                            value="1">
                        <label class="form-check-label" for="different-address-checkbox">
                            Send to a different address?
                        </label>
                    </div>

                    <!-- Additional Delivery Address Fields -->
                    <div id="different-address-fields" style="display:none;">
                        <div class="form-group">
                            <label>
                                Recipient
                            </label>
                            <input type="text"
                            class="form-control">
                        </div>

                        <div class="form-group">
                            <label>
                                Delivery Street Address 1
                            </label>
                            <input type="text"
                            class="form-control">
                        </div>

                        <div class="form-group">
                            <label>
                                Delivery Street Address 2
                            </label>
                            <input type="text"
                            class="form-control">
                        </div>

                        <div class="form-group">
                            <label>
                                Delivery Town or City
                            </label>
                            <input type="text"
                            class="form-control">
                        </div>

                        <div class="form-group">
                            <label>
                                Delivery Postcode
                            </label>
                            <input type="text"
                            class="form-control">
                        </div>

                        <div class="form-group">
                            <label>
                                Delivery Country
                            </label>
                            <input type="text"
                            class="form-control">
                        </div>
                    </div>
                </fieldset>


                <!-- Card Charge Notification -->
                <p class="small text-danger my-0">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your card will be charged <strong id="card-charge">€{{ grand_total|floatformat:2 }}</strong></span>
                </p>

        <!-- Delivery Options Section -->
        <fieldset class="rounded px-3 mb-5">
            <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
            <div class="form-check">
                <label class="form-check-label" for="standard_delivery">
                    <input class="form-check-input delivery-option" type="radio" name="delivery_option" id="standard_delivery" value="Standard Production" data-price="0.00" checked>
                    Standard Production (€0.00)
                    <i class="fa-solid fa-turtle"></i>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="priority_delivery">
                    <input class="form-check-input delivery-option" type="radio"
                            name="delivery_option" id="priority_delivery" value="48h Express Production" data-price="15.00">
                    Priority Delivery (€15.00)
                    <i class="fa-solid fa-truck"></i>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="48h_express_delivery">
                    <input class="form-check-input delivery-option" type="radio"
                            name="delivery_option" id="express_delivery" value="24h Express Production" data-price="25.00">
                            48h Express Delivery (€25.00)
                    <i class="fa-solid fa-truck-fast"></i>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="24_express_delivery">
                    <input class="form-check-input delivery-option" type="radio"
                            name="delivery_option" id="express_delivery" value="24h Express Production" data-price="35.00">
                    24h Express Delivery (€35.00)
                    <i class="fa-solid fa-truck-fast"></i>
                </label>
            </div>
            <div id="free-delivery-message" class="text-success fw-bold mt-3" style="display: none;">
                You've qualified for free delivery!
            </div>
        </fieldset>

        {% block corejs %}
        {% if free_delivery_qualified %}
            <!-- Confetti effect when user qualifies for free delivery -->
            <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.0/dist/confetti.browser.min.js"></script>
            <script>
                // Function to trigger the confetti
                function launchConfetti() {
                    var duration = 3 * 1000;
                    var end = Date.now() + duration;
                    var colors = ['#ff0', '#0f0', '#f00', '#00f', '#f0f'];

                    (function frame() {
                        confetti({
                            particleCount: 5,
                            angle: Math.random() * 360,
                            spread: Math.random() * 60 + 10,
                            origin: {
                                x: Math.random(),
                                y: Math.random()
                            },
                            colors: colors
                        });

                        if (Date.now() < end) {
                            requestAnimationFrame(frame);
                        }
                    })();
                }

                // Trigger confetti effect if the user qualifies for free delivery
                document.addEventListener("DOMContentLoaded", function() {
                    launchConfetti();
                });
            </script>
        {% else %}
            <script>
                console.log("User does not qualify for free delivery.");
            </script>
        {% endif %}
        {% endblock %}



        <!-- Payment Information Section -->
        <fieldset class="px-3">
            <div id="card-element"></div>
            <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
        </fieldset>

        <!-- Submit Button Section -->
        <div class="submit-button text-right mt-5 mb-2">
            <span id="id_stripe_public_key" style="display:none;">{{ stripe_public_key }}</span>
            <input type="hidden" id="id_client_secret" value="{{ client_secret }}"> <!-- Hidden input for client_secret -->
            <a href="{% url 'cart:add_to_cart' %}" class="btn btn-outline-black rounded-0">
                <span class="icon">
                    <i class="fa-solid fa-circle-chevron-left"></i>
                </span>
                <span class="font-weight-bold">Adjust Cart</span>
            </a>
            <button id="submit-button" class="btn btn-black rounded-0">
                <span class="font-weight-bold">Complete Order</span>
                <span class="icon">
                    <i class="fa-solid fa-lock"></i>
                </span>
            </button>
        </div>
          </form>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!-- Load Stripe's JavaScript library -->
<script src="https://js.stripe.com/v3/"></script>

<!-- Pass data to JavaScript -->
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}

<!-- Inline JavaScript for Stripe Integration -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log("please work!")
        const stripe = Stripe('pk_test_51REARh02Dugwb6PePp7mUznpqAvu2jV9XWpRfivdym6l8hir3tZ7Vvh4UX1SrgH3McbhO3w9yMEWclq88JVis5Dk00oHCNcLPB');
        const elements = stripe.elements();
        const csrf_token = "{{ csrf_token }}";

        // Retrieve the client secret from the DOM
        const clientSecret = document.getElementById('id_client_secret').textContent;

        // Log the client secret to the console to verify it's correct
        console.log("Client Secret:", clientSecret);

        // Create an instance of the card element
        const cardElement = elements.create('card');
        console.log("Mounting card element...");
        cardElement.mount('#card-element');
        console.log("Card element mounted.");

        // Handle form submission
        const form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            // Create payment method with Stripe
            stripe.createPaymentMethod({
                type: 'card',
                card: cardElement,
                billing_details: {
                    name: document.getElementById('id_full_name').value,
                    email: document.getElementById('id_email').value,
                },
            }).then(function(result) {
                if (result.error) {
                    // Display error if there's any
                    const errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the payment method ID to your backend for confirmation
                    const paymentMethodId = result.paymentMethod.id;
                    const clientSecret = document.getElementById('id_client_secret').textContent;

                    console.log("Payment Method ID: ", paymentMethodId);
                    console.log("Client Secret: ", clientSecret);

                    fetch('/checkout/payment/confirm', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrf_token,
                        },
                        body: JSON.stringify({
                            payment_method: paymentMethodId,
                            client_secret: clientSecret,
                        }),
                    }).then(function(response) {
                        return response.json();
                    }).then(function(data) {
                        if (data.success) {
                            window.location.href = '/success';
                        } else {
                            const errorElement = document.getElementById('card-errors');
                            errorElement.textContent = data.error;
                        }
                    }).catch(function(error) {
                        console.error("Error confirming payment:", error);
                    });
                }
            });
        });
    });
</script>

<!-- Delivery & Checkout Scripts -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const differentAddressCheckbox = document.getElementById('different-address-checkbox');
        const differentAddressFields = document.getElementById('different-address-fields');

        if (differentAddressCheckbox) {
            differentAddressCheckbox.addEventListener('change', function() {
                if (this.checked) {
                    differentAddressFields.style.display = 'block';
                } else {
                    differentAddressFields.style.display = 'none';
                }
            });
        }

        {% if user.is_authenticated %}
            // Use escapejs to protect against issues with quotes in JavaScript
            const nameField = document.getElementById('id_name');
            const emailField = document.getElementById('id_email');
            const phoneField = document.getElementById('id_phone_number');
            const countryField = document.getElementById('id_country');

            if (nameField) nameField.value = "{{ user.first_name|escapejs }}";
            if (emailField) emailField.value = "{{ user.email|escapejs }}";
            if (phoneField) phoneField.value = "{{ user.profile.phone_number|escapejs }}";
            if (countryField) countryField.value = "{{ user.profile.country|escapejs }}";
        {% endif %}
    });
</script>

<!-- Script for populating the checkout form from hidden fields -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the hidden fields containing the user data
        const hiddenName = document.getElementById('hidden_name').value;
        const hiddenEmail = document.getElementById('hidden_email').value;
        const hiddenPhoneNumber = document.getElementById('hidden_phone_number').value;
        const hiddenCountry = document.getElementById('hidden_country').value;
        const hiddenPostcode = document.getElementById('hidden_postcode').value;
        const hiddenTownOrCity = document.getElementById('hidden_town_or_city').value;
        const hiddenStreetAddress1 = document.getElementById('hidden_street_address1').value;
        const hiddenStreetAddress2 = document.getElementById('hidden_street_address2').value;

        // Get the form fields
        const fullNameField = document.getElementById('{{ checkout_form.full_name.id_for_label }}');
        const emailField = document.getElementById('{{ checkout_form.email.id_for_label }}');
        const phoneNumberField = document.getElementById('{{ checkout_form.phone_number.id_for_label }}');
        const countryField = document.getElementById('{{ checkout_form.country.id_for_label }}');
        const postcodeField = document.getElementById('{{ checkout_form.postcode.id_for_label }}');
        const townOrCityField = document.getElementById('{{ checkout_form.town_or_city.id_for_label }}');
        const streetAddress1Field = document.getElementById('{{ checkout_form.address_line_1.id_for_label }}');
        const streetAddress2Field = document.getElementById('{{ checkout_form.address_line_2.id_for_label }}');

        // Set the form fields with the corresponding hidden field values
        if (fullNameField) fullNameField.value = hiddenName;
        if (emailField) emailField.value = hiddenEmail;
        if (phoneNumberField) phoneNumberField.value = hiddenPhoneNumber;
        if (countryField) countryField.value = hiddenCountry;
        if (postcodeField) postcodeField.value = hiddenPostcode;
        if (townOrCityField) townOrCityField.value = hiddenTownOrCity;
        if (streetAddress1Field) streetAddress1Field.value = hiddenStreetAddress1;
        if (streetAddress2Field) streetAddress2Field.value = hiddenStreetAddress2;
    });
</script>

<!-- Update the checkout totals -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deliveryOptions = document.querySelectorAll('.delivery-option');
        const orderTotalEl = document.getElementById('order-total');
        const deliveryAmountEl = document.getElementById('delivery-amount');
        const vatAmountEl = document.getElementById('vat-amount');
        const grandTotalEl = document.getElementById('grand-total');
        const cardChargeEl = document.getElementById('card-charge');

        function parseEuro(value) {
            return parseFloat(value.replace('€', '').replace(',', '.')) || 0;
        }

        const orderTotal = parseEuro(orderTotalEl.innerText);
        const VAT_RATE = 0.19;

        deliveryOptions.forEach(option => {
            option.addEventListener('change', () => {
                const deliveryPrice = parseFloat(option.dataset.price) || 0;

                const vatAmount = orderTotal * VAT_RATE;
                const grandTotal = orderTotal + vatAmount + deliveryPrice;

                deliveryAmountEl.innerText = `€${deliveryPrice.toFixed(2)}`;
                vatAmountEl.innerText = `€${vatAmount.toFixed(2)}`;
                grandTotalEl.innerText = `€${grandTotal.toFixed(2)}`;
                cardChargeEl.innerText = `€${grandTotal.toFixed(2)}`;
            });
        });

        document.querySelector('.delivery-option:checked')?.dispatchEvent(new Event('change'));
    });
</script>

<!-- Your Stripe script -->
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}
