{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Thank you for your order!</h2>
    <p class="text-center">Here’s a summary of your order:</p>

    <hr>

    <div class="text-center">
        <p><strong>Order Total:</strong> €{{ grand_total }}</p>
        <p><strong>Subtotal:</strong> €{{ order.total_price }}</p>
        <p><strong>Service:</strong> €{{ order.service_price }}</p>
        <p><strong>Delivery:</strong> €{{ order.delivery_price }}</p>
    </div>

    <hr>

    <div class="text-center mt-4">
        <a href="{% url 'products' %}" class="btn btn-primary">Continue Shopping</a>
    </div>
</div>
{% endblock %}
