{% load static %}

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block favicon%}
      <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96" />
      <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg" />
      <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
      <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
      <link rel="manifest" href="/static/favicon/site.webmanifest" />
    {% endblock %}

    {% block extra_meta %}{% endblock %}

    {% block corecss %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
      <script>
        // JavaScript to toggle the sidebar on mobile
        document.addEventListener("DOMContentLoaded", function() {
          const toggleButton = document.getElementById("sidebar-toggle");
          const sidebar = document.getElementById("sidebar");

          toggleButton.addEventListener("click", function() {
            sidebar.classList.toggle("show");
          });
        });
      </script>
    {% endblock %}

    {% block google_fonts %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    {% endblock %}

    {% block font_awesome %}
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    {% endblock %}

    <title>Print & Design {% block extra_title%}{% endblock %}</title>
  </head>

  <body>
    <header class="container-fluid fixed-top">
      <div class="row" id="topnav">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text center text-lg-left align-items-center d-flex">
          <a href="[% url 'homepage' %]" class="nav-link main-logo-link align-items-center d-flex">
           <img src="https://res.cloudinary.com/dvs5uituk/image/upload/logo_cgecxp.webp" alt="Company logo" class="navbar-logo">
           <h2 class="my-0"><strong>Print & Design</strong></h2>
          </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text center text-lg-left">
          <form method="GET" action="">
            <div class="navbar-search button w-100">
              <input class="form-control border-0" type="text" name="q" placeholder="Search">
              <div class="">
                <button class="btn" type="submit">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text center text-lg-left">
          <ul class="icon-ul text-center d-flex text-lg-right my-0 justify-content-end">
            <li class="nav-icon mx-2">
              <i class="fa-solid fa-house"></i>
            </li>
            <li class="nav-icon dropdown nav-icon mx-2">
              <a class="nav-link dropdown-toggle" href="#" id="user-options" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
              </a>
              <ul class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <li><a href="" class="dropdown-item">Product Management</a></li>
                  {% endif %}
                  <li><a href="" class="dropdown-item">My Profile</a></li>
                  <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                {% else %}
                  <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                  <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                {% endif %}
              </ul>
            </li>

            <li class="nav-icon mx-2">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif%} nav-link" href="">
                <div class="text-center">
                  <div><i class="fa-solid fa-cart-shopping"></i></div>
                  <p class="my-0">
                    {% if grand_total %}
                      ${{ grand_total|floatformat:2 }}
                    {% else %}
                      €0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

    <div class="main-content">
      {% if messages %}
        <div class="message-container"></div>
      {% endif %}

      {% block content %}{% endblock %}
      {% block page_header %}{% endblock %}
    </div>


  <footer>
      <div class="footer-content g-aligner">
        <div class="container d-flex p-0 mr1-0">
          <div class="left-section"></div>
          <div class="right-section d-flex flex-wrap justify-content-between w100">
            <div class="row">
              <div class="col-3">
                <label class="list-title">Our Products</label>
                <ul class="list-links">
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                </ul>
              </div>
              <div class="col-3">
                <label class="list-title">Our Products</label>
                <ul class="list-links">
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                </ul>
              </div>
              <div class="col-3">
                <label class="list-title">Information</label>
                <ul class="list-links">
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                </ul>
              </div>
              <div class="col-3">
                <label class="list-title">Payment Methods</label>
                <ul class="list-links">
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                  <li><a href="" rel="follow"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-3">
                <label class="list-title-2">Print & Design</label>
                <span class="contact-address">
                  "123 Design Street"
                  <br>
                  "City"
                  <br>
                  "Country"
                </span>
                <div class="contact-number">
                  <span class="_txt">Phone Number: +1234567890</span>
                </div>
              </div>
              <div class="col-3">
                <label class="list-title">Social Media</label>
                <div class="social-icons">
                  <a href="https://www.linkedin.com/" class="linkdn" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  <a href="https://www.instagram.com/" class="insta" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://de-de.facebook.com/" class="fb" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.youtube.com/" class="youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </footer>
  </body>

</html>
