{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">{% if form.instance.pk %}Edit{% else %}Create{% endif %} Product</h1>

    <form method="post" enctype="multipart/form-data" class="card p-4 shadow-sm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-3">Save</button>
        <a href="{% url 'manage_products' %}" class="btn btn-secondary mt-3">Back to Product List</a>
    </form>
</div>
{% endblock %}
